<!-- Styles -->
<link href="/systems/generic/css/generic.min.css" rel="stylesheet">

<div class="container" ng-controller="GenericCharController">
    <!-- If, somehow, we don't have the character, we need to do something -->
    <div ng-if="notfound" class="text-center">
        <h3>Character not found.</h3>
        <p>
            This generally means there's been some sort of an error. Try refreshing the page. If that doesn't fix it,
            please contact the operator of the website.
        </p>
    </div>

    <!-- Character Page -->
    <div ng-if="!notfound">
        <ul class="nav nav-pills pull-right">
            <li role="presentation" ng-class="{ active: nav == 'summary' }">
                <a ng-click="nav = 'summary'"><i class="fa fa-list-alt"></i> Summary</a>
            </li>
            <li role="presentation" ng-class="{ active: nav == 'details' }">
                <a ng-click="nav = 'details'"><i class="fa fa-list"></i> Details</a>
            </li>
            <li role="presentation" ng-class="{ active: nav == 'notes' }">
                <a ng-click="nav = 'notes'"><i class="fa fa-file-text-o"></i> Notes</a>
            </li>
        </ul>
        <h1>{{ base.name }}</h1>
        <div ng-include="'/systems/generic/pages/' + nav + '/' + nav + '.html'"></div>
    </div>
</div>