<div id="summary">
    <img class="img-thumbnail pull-left visible-md visible-lg" ng-attr-src="{{ base.portrait || 'http://placehold.it/800x1200' }}" width="300px" height="450px">
    <div class="row stats-row">
        <div class="col-sm-6">
            <!-- Counters -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-bar-chart"></i> Counters</h4>
                </div>
                <div class="panel-body">
                    <generic-counter counter="counter" change="saveChar" ng-repeat="counter in char.favCounters"></generic-counter>
                    <h4 ng-if="char.favCounters.length == 0" class="text-center" style="margin: 0">No Counters</h4>
                </div>
            </div>

            <!-- Stats -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-shield"></i> Stats</h4>
                </div>
                <table class="table">
                    <tr ng-if="$even" ng-repeat="stat in char.stats">
                        <td><b>{{ stat.name }}:</b></td><td class="text-right">{{ stat.value }}</td>
                        <td><b>{{ char.stats[$index + 1].name }}:</b></td><td class="text-right">{{ char.stats[$index + 1].value }}</td>
                    </tr>
                </table>
                <div ng-if="char.favStats.length == 0" class="panel-body">
                    <h4 class="text-center" style="margin: 0">No Stats</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- Rolls -->
            <div class="panel panel-default" style="min-height: 445px">
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-random"></i> Rolls</h4>
                </div>
                <div class="panel-body">
                    <generic-roll name="roll.name" expression="roll.roll" context="char.statsObj" ng-repeat="roll in char.rolls"></generic-roll>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default notes-panel">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fa fa-file-text-o"></i> Notes</h4>
        </div>
        <div class="panel-body">
            <tabset class="tabs-left notes-tabs">
                <tab>
                    <tab-heading>
                        <i class="fa fa-fw fa-bolt"></i> Quick Notes
                    </tab-heading>
                    <div class="form-group quick-notes">
                        <textarea class="form-control" ng-model="char.quickNotes" ng-change="saveChar()"></textarea>
                        <p class="help-block pull-right">
                            This is auto-saved one second after you stop typing.
                        </p>
                    </div>
                </tab>
                <tab ng-repeat="page in char.notes | filter:{ favorite: true }">
                    <tab-heading>
                        <i class="fa fa-fw fa-file-text-o"></i> {{ page.name }}
                    </tab-heading>
                    <div ng-if="!editing" ng-bind-html="page.content | markdown"></div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
