<div class="stats-row">
    <div class="middle-column">
        <!-- Stats -->
        <div id="summary-stats" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-shield"></i> Stats</h4>
            </div>
            <div class="panel-body">
                <div ng-repeat="stat in char.stats">
                    <b>{{ stat.name }}:</b>
                    {{ stat.value }}
                </div>

                <!-- When we lack stats :( -->
                <h4 ng-if="char.favStats.length == 0" class="text-center">No Stats</h4>
            </div>
        </div>

        <!-- Counters -->
        <div id="summary-counters" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"><i class="fa fa-bar-chart"></i> Counters</h4>
            </div>
            <div class="panel-body">
                <generic-counter counter="counter" change="saveChar" ng-repeat="counter in char.counters"></generic-counter>
                <h4 ng-if="char.favCounters.length == 0" class="text-center" style="margin: 0">No Counters</h4>
            </div>
        </div>
    </div>

    <!-- Rolls -->
    <div id="summary-rolls" class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><i class="fa fa-random"></i> Rolls</h4>
        </div>
        <div class="panel-body">
            <generic-roll name="roll.name" expression="roll.roll" context="char.statsObj" ng-repeat="roll in char.rolls"></generic-roll>
        </div>
    </div>
</div>
