//----------------------------------------------------------------------------------------------------------------------
// Summary Styles
//----------------------------------------------------------------------------------------------------------------------

#summary {
    .stats-row {

        @media(min-width: 992px)
        {
            margin-left: 310px;
        }
    }

    .notes-panel {
        .panel-body {
            padding-right: 0;
        }
    }

    .notes-tabs {
        max-height: 500px;

        .tab-content {
            padding-top: 0;
        }

        ul.nav-tabs {
            min-height: 500px;
        }

        .tab-pane {
            padding-right: 12px;
            max-height: 500px;
            overflow: auto;
        }
    }

    .quick-notes {
        margin-top: 6px;

        textarea {
            font-family: monospace;
            height: 455px;
        }
    }
}

//----------------------------------------------------------------------------------------------------------------------